If:
  PathMatch: ^(DrvOpenXR|OCOVR|OpenOVR).*\.(cpp|h)$
  PathExclude: .*\.gen\..*

Diagnostics:
  ClangTidy:
    Add:
    - bugprone-*
    - clang-analyzer-*
    - cppcoreguidelines-*
    - hicpp-*
    - misc-*
    - modernize-*
    - performance-*
    - portability-*
    - readability-*
  UnusedIncludes: Strict
